.lists-of-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.list-headline {
  color: $primaryColor;
  text-align: center;
  font-size: 17px;
  margin: 0;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 1100px) {

  .list-headline {
    font-size: 25px;
  }

  .skills ul {
    font-size: 25px;
  }

  .list-headline {
    margin-bottom: -20px;
  }
}